bin/
obj/
.vs/
Releases/
Release/
*.user
.vscode/solution-explorer

// Unity
Unity/Library/
Unity/Temp/
Unity/Build/
Unity/Builds/
Unity/[Dd][Ll][Ll]/
Unity/[Dd][Ll][Ll][Ss]/
Unity/*.sln
Unity/*.csproj
[Ll]og.*